<div id="login-form">
  <p id="login-title">Login / Sign Up</p>
    <%= form_for :user do |f| %>
      <%= f.text_field :username, placeholder: "Enter your username" %>
      <%= f.email_field :email, placeholder: "Enter your email" %>
      <%= f.password_field :password, placeholder: "Enter your password" %>
      <%= f.submit "Submit" %>
    <% end %>
    <span>
    <%= image_tag("hap.png", :alt => "Happy", :class => "hap") %>
    <%= image_tag("crying.png", :alt => "Crying", :class => "cry") %>
    <%= image_tag("relaxed.png", :alt => "Relaxed", :class => "relax") %>
    <%= image_tag("tearing.png", :alt => "Tearing", :class => "tear") %>
    </span>
</div>