<%= stylesheet_link_tag 'style.css' %>
<h3>I want to talk to someone...?</h3>
<div>
	<a href="room/show"><div id="happy" class="col-md-6 col-xs-12 fill">
		<%= image_tag("happy.png", :alt => "Happy", :class => "image") %>
	</div></a>
	<a href="room/show"><div id="sad" class="col-md-6 col-xs-12 fill">
		<%= image_tag("sad.png", :alt => "Sad", :class => "image") %>
	</div></a>
	<a href="room/show"><div id="angry" class="col-md-6 col-xs-12 fill">
		<%= image_tag("mad.png", :alt => "Mad", :class => "image") %>
	</div></a>
	<a href="room/show"><div id="calm" class="col-md-6 col-xs-12 fill">
		<%= image_tag("neutral.png", :alt => "Neutral", :class => "image") %>
	</div></a>
</div>