<%= stylesheet_link_tag 'style.css' %>
<%= audio_tag "beepone.mp3", class: "audio-play" %>

	<p class="float" style="color:#000000;">I want to talk to someone...?</p>

<div>
	<div id="happy-need" class="col-md-6 col-xs-12 fill happy">
		<%= image_tag("happy.png", :alt => "Happy", :class => "image") %>
	</div>
	<div id="sad-need" class="col-md-6 col-xs-12 fill sad">
		<%= image_tag("sad.png", :alt => "Sad", :class => "image") %>
	</div>
	<div id="angry-need" class="col-md-6 col-xs-12 fill angry">
		<%= image_tag("mad.png", :alt => "Mad", :class => "image") %>
	</div>
	<div id="calm-need" class="col-md-6 col-xs-12 fill calm">
		<%= image_tag("neutral.png", :alt => "Neutral", :class => "image") %>
	</div>
</div>